<html>
    <style>

  p {
      font-family:"Times New Roman", Times, Serif;
  }
   body {
   <!--background-color: #FF7F50;-->

   }
   </style>
<div style= "text-align: center"><a href="/">Home</a></div>

    <head>
 <h1 style= "text-align: center">About Us</h1>
    </head>
    <body>
 <h2 style= "text-align: center">Who are we?</h2>

 <p style= "text-align: center">We are four students from Hendrickson High School, who got together for a project. The point of the project was to find a civics problem in the neighborhood, and try to find a solution. Since we can't build more roads by ourself, and we don't have an infinite amount of money, we decided to inform people about what the traffic situation is, and where the most traffic is. </p>
 <h2 style= "text-align: center"> How Did We Get The Results? </h2>
 <p style= "text-align: center">Because we wanted honest answers, and not just ours, we decided to send out a survey. The survey allowed us to see what other people were thinking, and to get an estimate about where the worst amount of traffic is. Over 60 people answered our survey, and each answer provided a lot of valuable data, data that helped us create proactive solutions to the problem.</p>
<html>
 <head>
     <style>
     body {
      background-color: powderblue;
       }
    p{
    font-size:23px;
    text-align:center;
}
     </style>
     </head>

<body>

   <h1 style = "text-align: center" "left:80px; top:80px; background-color:powderblue"> Worst Traffic Areas in Falcon Pointe </h1>
    <div style= "padding-top:10px;">

<p>Our team's goal is to inform the populace about the local traffic. Our team is focused around Falcon Pointe, and will provide information on that area's traffic.</p>
</div>
<p>Our website will infrom people about the traffic around the area, which can help people avoid roads that have a lot of traffic. </p>
<div style = "left:80px; top:100px: background-color:powderblue:">
</div>

</body>
</html>

    </body>
    </html>
    <html>
<title>Precision Traffic</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body style="background-color:powderblue;">

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>Precision Traffic</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="/" class="w3-bar-item w3-button">Home</a>
      <a href="results" class="w3-bar-item w3-button">Results</a>
</html>