<!--<html>-->
<!--    <head>-->

<!--     <style>-->
<!--    body {-->
<!--       background-color: powderblue;-->
<!--    }-->
<!--h1 {-->
<!--  text-align: center;-->
<!--}-->

<!--}-->
<!--}-->
<!--     </style>-->
<!--     </head>-->

<!--<body>-->
<!--    <div><a href= "{{ host }}about">About</a></div>-->
<!--    {% if msg %} {{ msg }} {% endif %}-->
<!--    <h1 style = "left:80px; top:50px; background-color:powderblue"> Worst Traffic Areas in Falcon Pointe </h1></div.relative>-->
<!--    <div style= "padding-top:100px;"-->

<!-- <p>Our team's goal is to inform the populace about the local traffic. Our team is focused around Falcon Pointe, and will provide information on that area's traffic.</p>-->
<!--</div>-->
<!--<p>Our website will infrom people about the traffic around the area, which can help people avoid roads that have a lot of traffic. </p>-->
<!--    <div style = "left:80px; top:100-x: background-color:powderblue:">-->
<!--</div>-->

<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html>
<title>Precision Traffic</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body style="background-color:powderblue;">

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3button"><b>Precision Traffic</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="about" class="w3-bar-item w3-button">About</a>
      <a href="results" class="w3-bar-item w3-button">Results</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="/w3images/architect.jpg" alt="Architecture" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>BR</b></span> <span class="w3-hide-small w3-text-light-grey">Architects</span></h1>
<!--src="https://www.canva.com/design/DADx9oGDiNs/share/preview?token=UysR_fJIwpAMBiGuSB74fQ&role=EDITOR&utm_content=DADx9oGDiNs&utm_campaign=designshare&utm_medium=link&utm_sharebutton">-->

  </div>
</header>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">

<div
 class="canva-embed"
 data-design-id="DADx9oGDiNs"
 data-height-ratio=".4625"
 style="100.0000% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"
></div>
<script async src="https:&#x2F;&#x2F;sdk.canva.com&#x2F;v1&#x2F;embed.js"></script>
<a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DADx9oGDiNs&#x2F;view?utm_content=DADx9oGDiNs&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a>
<a href="https:&#x2F;&#x2F;www.canva.com&#x2F;NandaPrasad?utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a>

</footer>
<html>
    <head>
     <style>
    body {
       background-color: powderblue;
    }
    p{
        font-size:23px;
        font-family:"Times New Roman", Times, Serif;
    }
    h2{
        font-family:"Times New Roman", Times, Serif;
    }
     </style>

     </head>
<body>

<h2 style= "text-align: center"> Our Goals</h2>
  <p style= "text-align: center">Our team's goal is to reduce the amount of time it takes to get places by car.
  The amount of traffic in and around Falcon Pointe is bad, and it is preventing people from doing their jobs and succeeding.</p>
<h2 style="text-align: center">What are we doing?</h2>
    <p style= "text-align: center">We are trying to reduce the amount of traffic by informing people where the most amount of traffic is.
    By identifying the troubling areas, we can help people to avoid it, hereby reducing the amount of traffic, and dispersing it out.
<h2 style= "text-align: center">How Will We Accomplish it?</h2>
  <p style= "text-align: center">We decided to make this website in order to inform you about the traffic. We asked people about where the most amount of traffic is, and we compare it to the business hours of the surrounding buildings. After comparing it, we document when and where the traffic is centered, and put it into this site.</p>

</body>
</html>
</body>
</html>